:root {
    --light-green: rgb(204, 250, 204);
}

body {
    background: #fafafa;
    color: darkslategrey;
}

.bg-green {
    background-color: green;
}

.site-header .navbar-nav .nav-link {
    color: var(--light-green);
}

.site-header .navbar-nav .nav-link:hover {
    color: white;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: bold;
}

/* Remove border after inserting logo */
.logo {
    /*border: 1px solid darkslategrey;*/
    background: url('images/pen.png');
    background-size: contain;
    width: 20vh;
    height: 20vh;
}

main > .container {
    padding-top: 5rem;
}

.btn {
    border-radius: 0.25rem !important;
}

.footer {
    color: var(--light-green);
    text-align: center;
}

.hide {
    display: none;
}

.table td {
    empty-cells: hide;
    /*borderCollapse: collapse;*/
}
