{% extends "layout.html" %}
{% set active_page = "index" %}

{% block content %}

<!-- Enter page content here -->
<div class="py-5 text-center">
    <img class="logo d-block mx-auto mb-4" src="#" alt="Logo here">
    <h2>49er Note App</h2>

    <div class="btn-group-vertical">
        <a href="#" class="btn btn-success py-2 px-5 my-2">Sign In</a>
        <a href="#" class="btn btn-outline-success py-2 px-5 my-2">Register</a>
    </div>

  </div>

<!-- End of page content -->
{% endblock content %}