{% extends "layout.html" %}
{% set active_page = "new_note" %}

{% block content %}
<!-- Enter page content here -->
<body>
<h1>Add a Note</h1>
   {% if note %}
	<form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
   {% else %}
	<form action="new" method="post">
   {% endif %}
	       <p><label>Title</label></p>
	       <p><input type="text" name="title" value="{% if note %}{{note.title}} {% endif %}"></p>
	       <p><label>Note</label></p>
	       <p><textarea name="noteText" rows="6" cols="0">
	{% if note %}
		{{note.text}}
	{% else %}
	   Add your new note here...
	{% endif %}
	</textarea>
	</p>
	<p>
	   {% if note %}
		<input type="submit" value="Update Note"/>
	   {% else %}
		<input type="submit" value="Add Note"/>
	   {% endif %}
	</p>
   </form>
</body>
<!-- End of page content -->
{% endblock content %}