{% extends "layout.html" %}
{% set active_page = "get_notes" %}

{% block content %}
    <!-- Enter page content here -->

    <h1>My Notes</h1>
    <table class="table">
        <tr>
            <th class="col">Title</th>
            <th class="col">Favorite</th>
            <th class="col">Date</th>
            <th class="col" colspan="2">Actions</th>
        </tr>
        {% for note in notes %}
            <tr>
                <td><a href="{{ url_for('get_note', note_id = note.id) }}">{{ note.title }}</a></td>
                <td>
                    {% if note.is_favorite %}
                    <i class="fas fa-star"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                </td>
                <td>{{ note.date }}</td>
                <td>
                    <a href="{{ url_for('update_note', note_id = note.id) }}" class="btn btn-outline-success">Edit</a>
                </td>
                <td>
                    <form action="{{ url_for('delete_note', note_id = note.id) }}" method="post">
                        <input type="submit" value="Delete" class="btn btn-outline-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <!-- End of page content -->
{% endblock content %}
